
    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12" ng-if="!showDish">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showDish">
                <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                    Back to Menu
                </button>
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                            <img class="media-object img-thumbnail"
                             ng-src={{dish.image}} alt="Uthappizza">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{dish.name}}
                             <span class="label label-danger">{{dish.label}}</span>
                             <span class="badge">{{dish.price | currency}}</span></h2>
                            <p>{{dish.description}}</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
                <p><b>Customer comments</b> &nbsp;&nbsp;&nbsp; Sort by: <input type="text" ng-model="sortingPredicate"></p>
                <blockquote ng-repeat="comment in dish.comments | orderBy:sortingPredicate">
                    <p>{{comment.rating}} Stars</p>
                    <p>{{comment.comment}}</p>
                    <footer>{{comment.author}}, {{comment.date | date : 'mediumDate'}}</footer>
                </blockquote>
            </div>
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                    <ul class="list-unstyled">
                    <blockquote ng-show="commentForm.$valid">
                        <p>{{mycomment.rating}} Stars</p>
                        <p>{{mycomment.comment}}</p>
                        <footer>{{mycomment.author}},</footer>
                    </blockquote>
                    </ul>
                <form class="form-horizontal" name="commentForm"
                		ng-submit="submitComment()" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : commentForm.author.$error.required && !commentForm.author.$pristine }">
                        <label for="author" class="col-sm-2 control-label">Your name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="author" name="author" placeholder="Enter Your Name"
                        ng-model="mycomment.author" required>
                            <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" class="help-block">Your name is required.</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : commentForm.ratings.$error.required&& !commentForm.ratings.$pristine}">
                        <label for="ratings" class="col-sm-2 control-label">Number of Stars</label>
                        <div class="col-sm-10">                         
                            <label class="radio-inline" ng-repeat="x in ratings">
                                <input type="radio" name="ratings" id="rating_{{x}}" ng-value="{{x}}" ng-model="mycomment.rating"> {{x}}
                            </label>
                            
                            <span ng-show="commentForm.ratings.$error.required && !commentForm.ratings.$pristine" class="help-block">Rating is required.</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                        <label for="comment" class="col-sm-2 control-label">Your Comments</label>
                        <div class="col-sm-10">
                            <textarea class = "form-control" rows = "10" id="comment" name="comment" ng-model="mycomment.comment" required></textarea>
                            <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">Your comment is required.</span>
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
